{% extends "base.html.twig" %}
{% block title %} {{ parent() }}{% endblock %}
{% block contenu %}
<h1>Modifier un produit</h1>

{% if form.produit is defined %}
 {% if form.produit != null %}

 <form class="form-signin" action="index.php?page=produitModif" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="inputDesignation">Nom du produit :</label>
            <input type="text" class="form-control" id="nom" name="inputDesignation" placeholder="Modifiez le nom du produit" required value="{{form.produit.designation}}">
        </div>
        <div class="form-group">
            <label for="inputDescription">Description :</label>
            <textarea class="form-control" id="description" name="inputDescription" placeholder="Modifiez la description du produit" rows="4" required>{{form.produit.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="inputPrix">Prix :</label>
            <input type="number" class="form-control" id="prix" name="inputPrix" placeholder="Modifiez le prix du produit" required value="{{form.produit.prix}}">
        </div>
        <div class="form-group">
            <label for="inputLibelle">Type :</label>
            <input type="number" class="form-control" id="inputLibelle" name="inputLibelle" placeholder="Modifiez le type de produit" required value="{{form.produit.idType}}">
        </div>
        <div class="form-group">
            <label for="photo">Photo :</label>
            <input type="file" name="photo" id="photo" class="form-control">
        </div><br>
        <div class="img-container">
            {% if form.produit.photo is not empty %}
            <img src="images/{{form.produit.photo}}" class="prod-modif-img">
            {% else %}
            <img src="images/defaut" class="prod-modif-img">
            {% endif %}
        </div>
<input type="hidden" name="id" value="{{form.produit.id}}"/>

<button class="btn btn-lg btn-block" type="submit" name="btModifier">Modifier</button>


{% else %}
 <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
 <a href="index.php?page=Produit">Retourner sur la liste des produits</a>
 {% endif %}
{% else %}

 {% if form.valide == true %}
 <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=Produit">Retourner sur la liste des produits</a></h1>
 {% else %}
 <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
 <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=Produit">Retourner sur la liste des produits</a></h1>
 {% endif %}
{% endif %}

<style>

.img-container {
    margin-left: 350px;
    width: 400px;
    height: 400px;
}

.prod-modif-img {
    width: 100%;
}

</style>
{% endblock %}